@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

code, pre, .hljs {
  font-family: 'Fira Code', monospace !important;
  font-feature-settings: "liga" 1, "calt" 1;
  font-variant-ligatures: contextual;
}
